<div  class='login'  style="height: 100%">
    <div class="login-box">
        <div ui-view="login"   ng-if="login"></div>
        <div ui-view="register"  ng-if="!login"></div>
        <div class="copyright">
            <div class="container w100">
                <div class="row">
                    <div class="col-sm-12">
                        <span>Copyright©2016-2017 All Rights Reserved</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>