    <div class="user-login p20">
        <p class="text-left fs16 pb20">用户注册</p>
        <form name="vm.registerForm" novalidate>
            <div class="alert alert-danger alert-dismissible fade in" role="alert" id="loginError"
                 ng-show="vm.loginError">
                <button type="button" class="close"  ng-click="vm.closeLoginError()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>{{vm.loginErrorTitle}}</h4>
                <p>{{vm.loginErrorMessage}}</p>
            </div>
            <div class="form-group">
                <label for="RuserName">用户名</label>
                <input type="text" class="form-control" id="RuserName" placeholder="请输入用户名" name="RuserName"
                       ng-model='vm.Ruser.RuserName'
                       required>
                <span class="text-error"
                      ng-if="vm.registerForm.RuserName.$invalid&&vm.RSubmit">必填*</span>
            </div>
            <div class="form-group">
                <label for="RuserPwd">密码</label>
                <input type="password" class="form-control" id="RuserPwd" placeholder="请设置登录密码" name="RuserPwd"
                       ng-model='vm.Ruser.RpassWords'
                       required minlength="6" maxlength="12">
                <span class="text-error"
                      ng-if="vm.registerForm.RuserPwd.$error.required&&vm.RSubmit">必填*</span>
                <span class="text-error"
                      ng-if="vm.registerForm.RuserPwd.$error.minlength&&vm.RSubmit">密码长度最小为6位*</span>
                <span class="text-error"
                      ng-if="vm.registerForm.RuserPwd.$error.maxlength&&vm.RSubmit">密码长度最长为12位*</span>
            </div>
            <div class="form-group">
                <label for="RuserPwd2">确认密码</label>
                <input type="password" class="form-control" id="RuserPwd2" placeholder="请再次输入登录密码" name="RuserPwd2"
                       ng-model='vm.Ruser.RpassWords2'
                       required minlength="6" maxlength="12">
                <span class="text-error"
                      ng-if="vm.registerForm.RuserPwd2.$error.required&&vm.RSubmit">请确认密码*</span>
                <span class="text-error"
                      ng-if="(vm.Ruser.RpassWords !== vm.Ruser.RpassWords2)&&vm.RSubmit">两次密码不一致*</span>
            </div>
            <div class="form-group">
                <label for="RuserEmail">邮箱</label>
                <input type="email" class="form-control" id="RuserEmail" placeholder="请输入您的Email地址" name="RuserEmail"
                       ng-model='vm.Ruser.RuserEmail'
                       required>
                <span class="text-error"
                      ng-if="vm.registerForm.RuserEmail.$error.email&&vm.RSubmit">邮箱格式不正确*</span>
                <span class="text-error"
                      ng-if="vm.registerForm.RuserEmail.$error.required&&vm.RSubmit">必填*</span>
            </div>
            <div class="form-group">
                <!--<input name="status" type="checkbox" data-size="small">-->
            </div>
            <div class="form-group">
                已有账号？ <a href="javaScript:;" class="text-primary fs12" ng-click="showRegister()">点击登录</a>
            </div>
            <button type="button" id="registerButton" data-loading-text="Register..." class="btn btn-success w100 h50 "
                    autocomplete="off" ng-click="vm.register()">点击注册</button>
        </form>
    </div>
