<div class="authorityManagement">
    <div class="main-content-header">
        <span>资金变动管理</span>
        <span class="fr"><span class="glyphicon glyphicon-refresh cursor-pointer"></span></span>
    </div>
    <div class="">
        <div class="search-form">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入商户号">
                </div>
                <div class="form-group ml10">
                    <input type="text" class="form-control"  placeholder="请输入订单号">
                </div>
                <div class="form-group ml10">
                    <input type="text" class="layui-input form-control" style="width: 160px" id="startTime" placeholder="起始时间">
                </div>
                <div class="form-group ml10">
                    <select  class="form-control" ></select>
                </div>
                <div class="form-group ml10">
                    <select  class="form-control"></select>
                </div>
                <div class="form-group ml10">
                    <button class="btn btn-success ml10"><span class="glyphicon glyphicon-search"></span>搜索</button>
                    <button class="btn btn-warning ml10"><span class="glyphicon glyphicon-export"></span>导出数据</button>
                </div>
            </form>
        </div>
        <table ng-table="vm.tableParams" class="table table-hover">
            <tr ng-repeat="a in $data">
                <td title="'#'" >{{a.PK}}</td>
                <td title="'订单号'" >{{a.menuName}}</td>
                <td title="'用户名'" >{{a.parentName}}</td>
                <td title="'类型'" >{{a.menuLevelName}}</td>
                <td title="'用户名（提成）'" >{{a.menuLevelName}}</td>
                <td title="'提成级别'" >{{a.menuLevelName}}</td>
                <td title="'变动金额'" >{{a.menuLevelName}}</td>
                <td title="'变动时间'" >{{a.menuLevelName}}</td>
                <td title="'通道'" >{{a.menuLevelName}}</td>
                <td title="'备注'" >{{a.menuLevelName}}</td>
            </tr>
        </table>
    </div>
</div>